body{
	background-color: green;
}
.Portada{
	color: white;
	text-align: center;
}
.Bienvenida{
	font-family: sans-serif;	
}
.Disfruten{
	font-family: sans-serif;
}
.jujle{
	color: white;
}
.wiki{
	color: white;
}