body{
	background-color: #FF6B6B
}
.texto{
	color: blue;
	font-family: verdana;
}
.Bienvenida{
	font-family: verdana;	
}
.Disfruten{
	font-style: italic;
	color: white;
	text-align: center;
}
.jujle{
	color: blue;
}
.ehlapislazuli{
	color: white;
}
